.footer {
    /*background-color: var(--color-light);*/
    background-color: rgba(224, 204, 190, 0.3);
    color: var(--color-dark-txt);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

footer a {
    text-decoration: none;
}
.footer a:hover{
    background-color: var(--color-bg);
    padding: 0.1rem;
    border-radius: 2rem;
    font-weight: bolder;
}
footer ul {
    list-style-type: none;
}
.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.logoDominika {
    display: block;
    max-width: 15rem;
    margin: 0 auto;
}
