
.form__group {
    display: block;
    align-items: center;
  position: relative;
  padding: 50px 0 0;
  margin: auto;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--color-bg);
  outline: 0;
  font-size: 1.7rem;
  color: var(--color-light);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &:placeholder-shown ~ .form__label {
    font-size: 2rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: relative;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--color-bg);
  font-weight: bold;
}

.form__field:focus {
  ~ .form__label {
    position: relative;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.7rem;
    color: var(--color-dark-elem);
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
