.footer {
    background-color: var(--color-light);
    color: var(--color-dark-txt);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

footer a {
    text-decoration: none;
}
footer ul {
    list-style-type: none;
}
.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.logoDominika {
    display: block;
    max-width: 15rem;
    margin: 0 auto;
}