.body{
  margin: 0;
  padding: 0;
}

.overlay-nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: none;
}
.overlay-nav-mobile.open {
  display: block;
  z-index: 2;
}

.nav {
  background-color: var(--color-dark-txt);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  font-family: "Aesthetic Romance", sans-serif;
  border-radius: 2rem;
}
.nav--logoandname{
justify-self: left;
display: flex;
flex-direction: row;
}

.nav--logo img{
  color: var(--color-light);
  max-width: 5rem;
}

.nav--name {
  color: var(--color-light);
  font-size: larger;
  font-weight: 600;
  font-size: x-large;
  margin: auto;
}

.nav--menu__link-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav--menu__link {
  margin-right: 1rem;
}

.nav--menu__link:last-of-type {
  margin-right: initial;
}

.nav--menu__link a {
  color: var(--color-light);
  font-size: xx-large;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem;
  position: relative;
}

.nav--menu__link a:hover {
  background-color: var(--color-light);
  color: var(--color-dark-txt);
  padding: 1rem;
  border-radius: 2rem;
}

.nav--menu {
  display: none;
}

.nav--burger svg {
  width: 2rem;
}

.nav--menu__close {
  width: 2rem;
}
.nav--menu {
position: fixed;
top: 0;
left: 0;
width: 250px;
height: 100vh;
display: flex;
background-color: var(--color-dark-elem);
color: var(--color-bg);
align-items: center;
justify-content: center;
transform: translateX(100%);
display: none;
transition: 0.3s transform ease-in-out;
}

.nav--menu.open {
  transform: initial;
  display: flex;
  z-index: 3;
}
.nav--menu__link-list {
  flex-direction: column;
  align-items: flex-start;
}
.nav--menu__link {
  margin-right: 0;
  margin-bottom: 2rem;
}



.nav--menu__close{
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.test {
  display: none;
}

.test.open {
  display: flex;
}






@media screen and (min-width: 640px) {
.nav--menu {
  display: flex;
}
.nav--burger{
  display: none;
}
.nav--menu__close{
  display: none;
}


.nav--menu__link a{
  font-size: 25px;
}
}