.body{
  margin: 0;
  padding: 0;
}



.nav {
  background-color: var(--color-dark-txt);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  font-family: "Aesthetic Romance", sans-serif;
  border-radius: 2rem;
}
.nav--logoandname{
justify-self: left;
display: flex;
flex-direction: row;
}

.nav--logo img{
  color: var(--color-light);
  max-width: 5rem;
}

.nav--name {
  color: var(--color-light);
  font-size: larger;
  font-weight: 600;
  font-size: x-large;
  margin: auto;
}

.nav--menu__link-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav--menu__link {
  margin-right: 1rem;
}

.nav--menu__link:last-of-type {
  margin-right: initial;
}

.nav--menu__link a {
  color: var(--color-light);
  font-size: xx-large;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem;
  position: relative;
}

.nav--menu__link a:hover {
  background-color: var(--color-light);
  color: var(--color-dark-txt);
  padding: 1rem;
  border-radius: 2rem;
}
ul {
  list-style-type: none;
  padding: 0;
}

.nav--menu__link-article a {
  color: var(--color-light);
  font-size: x-large;
  font-weight: 500;
  text-decoration: none;
  padding: 2rem 1rem;
  position: relative;
}

.nav--menu__link-article {
  margin-bottom: 1rem;
}

.nav-menu__link-list-title{
  padding-left: 1rem;
  font-size: xx-large;
}


.nav--menu {
  display: none;
}

.nav--burger svg {
  width: 2rem;
}

.nav--menu__close {
  width: 2rem;
}

.addLink {
  background-color: red;
}

@media screen and (max-width: 1024px) {
  .overlay-nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: none;
}
.overlay-nav-mobile.open {
  display: block;
  z-index: 2;
}
.nav--menu {
position: fixed;
top: 0;
left: 0;
width: 250px;
height: 100vh;
display: flex;
background-color: var(--color-dark-elem);
color: var(--color-bg);
align-items: center;
justify-content: center;
transform: translateX(100%);
display: none;
transition: 0.3s transform ease-in-out;
}
.nav--menu.open {
  transform: initial;
  display: flex;
  z-index: 3;
}
.nav--menu__link-list {
  flex-direction: column;
  align-items: flex-start;
}
.nav--menu__link {
  margin-right: 0;
  margin-bottom: 2rem;
}
.nav--menu__close{
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.last {
  padding-top: 2rem;
}
.nav--menu__link-article a:hover {
  background-color: var(--color-light);
  color: var(--color-dark-txt);
  padding: 0.1rem 1rem;
  border-radius: 2rem;
}
}



@media screen and (min-width: 1024px) {
.nav--menu {
  display: flex;
  flex-direction: row;
}
.nav--burger{
  display: none;
}
.nav--menu__close{
  display: none;
}
.nav-menu__link-list-title {
  color: var(--color-light);
  font-size: 1.65rem;
  font-weight: 500;
  padding: 1rem;
}

.nav-menu__link-list-title:hover{
  background-color: var(--color-light);
  color: var(--color-dark-txt);
  padding: 1rem;
  border-radius: 2rem;
}
.nav--menu__link a {
  font-size: 1.65rem;
}
.nav--menu__link-list {
  display: flex;
}
.nav-menu__link-list-content {
  display: none;
}

.nav--menu__link-list-articles{
  position: relative;
  display: inline-block;
}
.nav-menu__link-list-content{
  display: none;
  position: absolute;
  border-radius: 2rem;
  background-color: var(--color-dark-elem);
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.nav-menu__link-list-content a {
  color: var(--color-light);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav--menu__link-list-articles:hover .nav-menu__link-list-content {
  display: block;
}
.nav--menu__link-article a:hover {
  background-color: var(--color-light);
  color: var(--color-dark-txt);
  border-radius: 2rem;
}
}