:root{
  --color1: rgb(0, 255, 242); /*FOND DE LA NAV ET DES CARDS + ECRITURE DES ARTICLES + ECRITURE DES TAGS*/
  --color2: rgb(255, 0, 0); /*ECRITURE DE LA NAV ET DES CARDS  + FOND DES ARTICLES + OMBRE DU H1*/
  --color3: #feffa9; /*HOVER DES CARDS + FOND DES TAGS DES ARTICLES*/
  --color4: #00ff0d; /*BACKGROUND GENERAL */
}

.dark{
  background-color: var(--color1);
  color: var(--color3);
  text-align: center;
  font-size: large;
}

