:root{
  --color1: #102C57; /*FOND DE LA NAV ET DES CARDS + ECRITURE DES ARTICLES + ECRITURE DES TAGS*/
  --color2: #FEFAF6; /*ECRITURE DE LA NAV ET DES CARDS  + FOND DES ARTICLES + OMBRE DU H1*/
  --color3: #DAC0A3; /*HOVER DES CARDS + FOND DES TAGS DES ARTICLES*/
  --color4: #EADBC8; /*BACKGROUND GENERAL */
}

.dark{
  background-color: var(--color1);
  color: var(--color3);
  text-align: center;
  font-size: large;
}

